.BigHeadingInCareer {
    font-size: 80px;
    text-transform: uppercase;
}

.CareerHeaderContainerGridSystem {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.CareerHeadertagContainer {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 5rem;
}

.CareerHeadertagContainer>div {
    background-color: var(--BrandColor);
    padding: 20px 40px;
    color: black;
    border-radius: 10px;
    rotate: -20deg;
}

.CareerPositionsContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

/* First 3 cards: each takes 2 columns (3 cards = 6 columns total = 1 row) */
.CareerPositionsContainer .CareerPositionCard:nth-child(1),
.CareerPositionsContainer .CareerPositionCard:nth-child(2),
.CareerPositionsContainer .CareerPositionCard:nth-child(3) {
    grid-column: span 2;
}

/* Next 2 cards: each takes 3 columns (2 cards = 6 columns total = 1 row) */
.CareerPositionsContainer .CareerPositionCard:nth-child(4),
.CareerPositionsContainer .CareerPositionCard:nth-child(5) {
    grid-column: span 3;
}


.CareerPositionCard {
    min-height: 350px;
    height: 350px;
    width: 100%;
    /* background-color: red; */
    opacity: 0.7;
    transition: .5s;
}

.CareerPositionCard:hover {
    opacity: 1;
    transition: .5s;
}

.CareerPositionCard img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.WeHirePositionCards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.WeHirePositionCards .WeHirePositionCard {
    padding: 30px 40px;
    background-color: white;
    color: black;
    border-radius: 50px;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
    border: 1px solid var(--BrandColor);
    transition: .5s;
    cursor: pointer;
}

.WeHirePositionCards .WeHirePositionCard:hover {
    background-color: var(--BrandColor);
    color: black;
    border: 1px solid white;
    transition: .5s;
}

/* Mobile Responsive Styles */
@media screen and (max-width: 768px) {
    .BigHeadingInCareer {
        font-size: 40px;
        line-height: 1.2;
    }

    .CareerHeaderContainerGridSystem {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .CareerHeadertagContainer {
        justify-content: center;
        padding-right: 0;
    }

    .CareerHeadertagContainer>div {
        padding: 15px 25px;
        rotate: -10deg;
    }

    .CareerPositionsContainer {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    /* All cards full width on mobile */
    .CareerPositionsContainer .CareerPositionCard:nth-child(1),
    .CareerPositionsContainer .CareerPositionCard:nth-child(2),
    .CareerPositionsContainer .CareerPositionCard:nth-child(3),
    .CareerPositionsContainer .CareerPositionCard:nth-child(4),
    .CareerPositionsContainer .CareerPositionCard:nth-child(5) {
        grid-column: span 1;
    }

    .CareerPositionCard {
        min-height: 250px;
        height: 250px;
    }

    .WeHirePositionCards {
        gap: 20px;
        justify-content: flex-start;
    }

    .WeHirePositionCards .WeHirePositionCard {
        padding: 20px 25px;
        font-size: 16px;
        width: 100%;
        text-align: center;
    }

    #career .Container {
        padding: 0 20px;
    }
}

@media screen and (max-width: 480px) {
    .BigHeadingInCareer {
        font-size: 32px;
    }

    .CareerHeadertagContainer>div {
        padding: 12px 20px;
        font-size: 14px;
    }

    .CareerPositionCard {
        min-height: 200px;
        height: 200px;
    }

    .WeHirePositionCards .WeHirePositionCard {
        padding: 15px 20px;
        font-size: 14px;
    }
}