#About-us {
    min-height: 800px;
    display: flex;
    align-items: center;
    position: relative;
}

.BrandingImageContainer img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

#About-us .backgroundOverlayImageSetAboutUs {
    background-image: url("/Images/BackgroundImages/AboutHomeBackgroundOverlayImage.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0px;
    width: 40%;
    height: 100%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    z-index: 1;
    opacity: 0.2;
}
