.AboutUsHeaderGridSystem {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 70px;
    align-items: center;
    position: relative;
    z-index: 2;
}

.AboutUsRightSideGridSystem {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;
}

.AboutUsRightSideGridSystem>div {
    /* background-color: red; */
    width: 100%;
    min-height: 200px;
    border: 0.2px solid rgba(255, 255, 255, 0.072);
}

#OurStory {
    min-height: 800px;
    display: flex;
    align-items: end;
    position: relative;
}

#OurStory .CenteredHeaderContent {
    align-items: start;
    width: 100% !important;
}

#OurStory .CenteredHeaderContent {
    width: 100% !important;
    max-width: 100% !important;
}

.AboutUsRightSideGridSystem>div:first-child,
.AboutUsRightSideGridSystem>div:nth-child(8),
.AboutUsRightSideGridSystem>div:nth-child(3) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
}

.AboutUsRightSideGridSystem>div:first-child>div,
.AboutUsRightSideGridSystem>div:nth-child(8)>div,
.AboutUsRightSideGridSystem>div:nth-child(3)>div {
    border: 0.2px solid rgba(255, 255, 255, 0.072);
    width: 100%;
    height: 100%;
}

.AboutUsRightSideGridSystem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#OurStory .backgroundOverlayImageSetAboutUs {
    background-image: url("/Images/BackgroundImages/HeroBackgroundRoughBack.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    z-index: 1;
}

#OurStory .backgroundOverlayImageSetAboutUs::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.65) 45%, rgba(0, 0, 0, 0.8) 100%);
    z-index: 1;
}

#OurStory .backgroundOverlayImageSetAboutUs::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 30% 30%, rgba(230, 176, 53, 0.22), transparent 55%),
        radial-gradient(circle at 70% 70%, rgba(230, 176, 53, 0.12), transparent 60%),
        linear-gradient(120deg, rgba(230, 176, 53, 0.05), transparent 55%);
    z-index: 2;
}

.GradientOverlay {
    background-image: linear-gradient(180deg, rgba(230, 176, 53, 0.22), transparent);
    -webkit-clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
    clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
    width: 100%;
    height: 100px;
}


@media (max-width: 768px) {
    .AboutUsHeaderGridSystem {
        grid-template-columns: repeat(1, 1fr);
    }

    .AboutUsRightSideGridSystem>div {
        min-height: 130px !important;
    }

}