.OurWorkGridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.OurWorkGridContainer .OurWorkGridItem {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.OurWorkGridContainer .OurWorkGridItem .OurWorkGridItemImage {
    height: 500px;
    width: 100%;
    overflow: hidden;
}

.OurWorkGridContainer .OurWorkGridItem .OurWorkGridItemImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

@media (max-width: 768px) {
    .OurWorkGridContainer {
        grid-template-columns: 1fr;
    }

    .OurWorkGridContainer .OurWorkGridItem .OurWorkGridItemImage {
        height: 100%;
    }
}