#contact-bottom-common {
    position: relative;
    /* margin-top: 80px; */
    overflow: hidden;
    background:
        radial-gradient(circle at bottom center, rgba(230, 176, 53, 0.2) 0%, transparent 50%),
        linear-gradient(180deg, rgba(7, 8, 14, 0.1) 0%, rgba(7, 8, 14, 0.65) 60%, rgba(7, 8, 14, 0.95) 100%);
}

#contact-bottom-common::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgb(7 8 14 / 0%) 0%, rgb(15 12 28 / 0%) 30%, rgb(32 20 40 / 0%) 60%, rgb(230 176 53 / 23%) 100%);
    /* opacity: 0.85; */
    pointer-events: none;
    z-index: 0;
}

#contact-bottom-common .Container {
    position: relative;
    z-index: 1;
}

#contact-bottom-common .tagParagraphVersion2 {
    border: 1px solid rgba(255, 255, 255, 0.222);
    border-radius: 20px;
    padding: 7px 20px;
}

.ContactBottomCommonGridSystem {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-left: 11rem;
}


.ContactBottomCommonGridSystem>div:last-child .interactive-button {
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

@media (max-width: 768px) {
    .ContactBottomCommonGridSystem {
        margin-left: 0;
        gap: 6px;
        justify-content: start;
    }

    .ContactBottomCommonGridSystem>div:last-child{
        display: none;
    }
    
    #contact-bottom-common{
        padding-bottom: 30px;
    }
}