.buttonContainer button {
  background-color: white;
  color: black;
  border: none;
  padding: 15px 25px;
  display: flex;
  align-items: center;
  gap: 20px;
  min-width: 100px;
  position: relative;
  transition: all 0.3s ease;
  /* border-radius: 10px; */
}

.buttonContainer button:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.buttonContainer button svg {
  width: 15px;
  height: 15px;
}

a {
  text-decoration: none;
  font-size: 16px;
}


li{
  list-style: none;
  font-size: 16px;
}