@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

body {
  background: black;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: white;
  --BrandColor: #E6B035;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  background-color: black !important;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Bricolage Grotesque", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.SmallParagraph {
  letter-spacing: 1.2px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  color: white;
}

h1 {
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 64px;
  font-weight: 400;
  line-height: 120%;
}

h2 {
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 48px;
  font-weight: 400;
  line-height: 120%;
}

h3 {
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 36px;
  font-weight: 400;
  line-height: 120%;
}

h4 {
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 28px;
  font-weight: 400;
  line-height: 120%;
}

h5 {
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 23px;
  font-weight: 400;
  line-height: 120%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}

.FadeParaColor {
  color: rgba(255, 255, 255, 0.7);
}

.MaxWidth-900 {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

.MaxWidth-600 {
  max-width: 600px;
  width: 100%;
  /* margin: 0 auto; */
}

.WhiteColor {
  color: white;
}


.SectionTopPadding {
  padding-top: 130px;
}

.PaddingBottomSection {
  padding-bottom: 50px;
}

.SectionLargeTopPadding {
  padding-top: 140px;
}

.SectionTopMargin {
  margin-top: 130px;
}

.Container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

.tagParagraph {
  border: 1px solid #ffffff1a;
  border-radius: 30px;
  padding: 11px 18px;
  color: #ffffffb3;
  display: flex;
  align-items: center;
  gap: 10px;
}

.tagParagraph svg {
  width: 20px;
  height: 20px;
  color: #E6B035;
}

.FlexAdd {
  display: flex;
}

.MarginTop30 {
  margin-top: 30px;
}

.MarginTop60 {
  margin-top: 60px;
}


p {
  line-height: 25px;
}

.MarginUnset {
  margin: unset !important;
  width: 100%;
}

.MarginAuto {
  margin: auto !important;
  width: 100%;
}

button {
  cursor: pointer !important;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.OnlyMobileDevicesLargePaddingTop {
  padding-top: 120px !important;
}

.PCCenterMobileStart {
  text-align: center !important;
}

@media (max-width: 768px) {
  .SmallParagraph {
    font-size: 12px;
  }

  .PCCenterMobileStart {
    text-align: start !important;
  }

  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 25px;
  }

  .SectionTopPadding {
    padding-top: 60px !important;
  }

  .SectionLargeTopPadding {
    padding-top: 100px !important;
  }

  .SectionTopMargin {
    margin-top: 60px !important;
  }

  .Container {
    padding: 0 10px;
  }

  .MarginTop30 {
    margin-top: 10px;
  }

  .MarginTop60 {
    margin-top: 40px;
  }
p{
  font-size: 14px;
  line-height: 150%;
}

}