#AboutUsCountersGridSystem .FirstRow,
#AboutUsCountersGridSystem .SecondRow,
#AboutUsCountersGridSystem .ThirdRow {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

#AboutUsCountersGridSystem {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#AboutUsCountersGridSystem .CounterValue {
    font-size: 50px;
    font-weight: 600;
    color: #fff;
}

.CounterValueContainer {
    display: flex;
    justify-content: end;
}