.CenteredHeaderContainer {
    max-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.CenteredHeaderContent {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 800px;
    margin: 0 auto;
}

.CenteredHeaderContent .tagParagraphVersion2 {
    display: flex;
    align-items: center;
    gap: 15px;
}

.CenteredHeaderContent--alignCenter {
    align-items: center;
    text-align: center;
}

.CenteredHeaderContent--alignCenter .tagParagraphVersion2 {
    justify-content: center;
}

.CenteredHeaderContent--alignCenter h2,
.CenteredHeaderContent--alignCenter .CenteredDescription p {
    text-align: center;
}

.CenteredHeaderContent--alignStart {
    align-items: flex-start;
    text-align: left;
}

.CenteredHeaderContent--alignStart .tagParagraphVersion2 {
    justify-content: flex-start;
}

.CenteredHeaderContent--alignStart h2,
.CenteredHeaderContent--alignStart .CenteredDescription p {
    text-align: left;
}

.CenteredHeaderContent .tagParagraphVersion2 svg {
    width: 20px;
    height: 20px;
    color: #E6B035;
}

.CenteredDescription {
    max-width: 600px;
}

.CenteredDescription p {
    line-height: 160%;
}



@media screen and (max-width: 768px) {
    .CenteredHeaderContainer {
        max-width: 100%;
    }

    .CenteredHeaderContainer .Container {
        padding: 0 0px;
    }

    .CenteredHeaderContainer .CenteredHeaderContent {
        max-width: 100%;
        align-items: start;
        text-align: start;
    }

    .CenteredHeaderContent--alignCenter .tagParagraphVersion2,
    .CenteredHeaderContent--alignStart .tagParagraphVersion2 {
        justify-content: start;
    }

    .CenteredHeaderContent--alignCenter h2,
    .CenteredHeaderContent--alignStart h2,
    .CenteredHeaderContent--alignCenter .CenteredDescription p,
    .CenteredHeaderContent--alignStart .CenteredDescription p {
        text-align: start;
    }

    #contact-bottom-common .CenteredDescription p {
        text-align: center;
    }

    #contact-bottom-common .CenteredHeaderContainer .CenteredHeaderContent {
        max-width: 100%;
        align-items: center;
        text-align: center;
    }

    #contact-bottom-common .CenteredHeaderContent--alignCenter .tagParagraphVersion2,
    #contact-bottom-common .CenteredHeaderContent--alignStart .tagParagraphVersion2 {
        justify-content: center;
    }

}